<relations-node-header [parent]="this" [destroySubject]="destroySubject"></relations-node-header>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs">
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="disabled" [parent]="this"></relation-node-input>
                <div>{{'disabled'|firstUppercaseLocalize}}</div>
            </div>
        </div>
    
        <div class="outputs">
            <div class="output">
                <div>{{'toggle'|firstUppercaseLocalize}}</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="toggle" [parent]="this"></relation-node-output>
            </div>
        </div>
    </div>
</div>