<div class="flex-row">
    <a class="margin-horizontal-small" [routerLink]="['/relationsComplex/layout', _available.value]">layout</a>
    <a class="margin-horizontal-small" [routerLink]="['/relationsComplex/relations', _available.value]">relations</a>

    <ng-select [formControl]="_available" class="flex-1">
        <ng-option *ngFor="let val of _availableNames" [value]="val" [text]="val"></ng-option>
    </ng-select>

    <debug-data [copyClick]="selectedMetadata"><div class="margin-horizontal-small">{{_available.value}}</div></debug-data>
</div>

<div class="flex-row margin-top-big flex-1">
    <static-input class="margin-right-extra-small"></static-input>

    <div class="flex-1 overflow-vertical-scroll thin-scrollbar" style="border: 1px dotted #666;">
        <ng-container [layoutComponentRenderer]="_metadata"></ng-container>
    </div>

    <static-output style="width: 200px;"></static-output>
</div>