<div>Margin</div>

<div>
    <div class="flex-row align-items-center margin-bottom-extra-small">
        <span class="fas fa-arrow-left"></span>
        <input-size [control]="_margin?.controls?.left | asFormControl"></input-size>
        <span class="fas fa-arrow-right margin-left-big"></span>
        <input-size [control]="_margin?.controls?.right | asFormControl"></input-size>
    </div>

    <div class="flex-row align-items-center">
        <span class="fas fa-arrow-up"></span>
        <input-size class="align-self-center" [control]="_margin?.controls?.top | asFormControl"></input-size>
        <span class="fas fa-arrow-down margin-left-big"></span>
        <input-size class="align-self-center" [control]="_margin?.controls?.bottom | asFormControl"></input-size>
    </div>
</div>