<div>Margin</div>

<div>
    <div class="dynamic-flex-row dynamic-align-items-center dynamic-margin-bottom-extra-small">
        <span class="fas fa-arrow-left"></span>
        <input-size [control]="_margin?.controls?.left | asFormControl"></input-size>
        <span class="fas fa-arrow-right dynamic-margin-left-big"></span>
        <input-size [control]="_margin?.controls?.right | asFormControl"></input-size>
    </div>

    <div class="dynamic-flex-row dynamic-align-items-center">
        <span class="fas fa-arrow-up"></span>
        <input-size class="dynamic-align-self-center" [control]="_margin?.controls?.top | asFormControl"></input-size>
        <span class="fas fa-arrow-down dynamic-margin-left-big"></span>
        <input-size class="dynamic-align-self-center" [control]="_margin?.controls?.bottom | asFormControl"></input-size>
    </div>
</div>