<div class="margin-top-div" [style.height]="htmlElement?.style?.marginTop"></div>
<div class="margin-bottom-div" [style.height]="htmlElement?.style?.marginBottom"></div>
<div class="margin-left-div" [style.width]="htmlElement?.style?.marginLeft"></div>
<div class="margin-right-div" [style.width]="htmlElement?.style?.marginRight"></div>
<div class="padding-top-div" [style.height]="htmlElement?.style?.paddingTop"></div>
<div class="padding-bottom-div" [style.height]="htmlElement?.style?.paddingBottom"></div>
<div class="padding-left-div" [style.width]="htmlElement?.style?.paddingLeft"></div>
<div class="padding-right-div" [style.width]="htmlElement?.style?.paddingRight"></div>
<div class="border-top-div" [style.height]="htmlElement?.style?.borderTop"></div>
<div class="border-bottom-div" [style.height]="htmlElement?.style?.borderBottom"></div>
<div class="border-left-div" [style.width]="htmlElement?.style?.borderLeft"></div>
<div class="border-right-div" [style.width]="htmlElement?.style?.borderRight"></div>