<relations-node-header [parent]="this" [destroySubject]="destroySubject" name="Multiply"></relations-node-header>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs">
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="input1" [parent]="this"></relation-node-input>
                <div>input1</div>
            </div>
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="input2" [parent]="this"></relation-node-input>
                <div>input2</div>
            </div>
        </div>

        <div class="outputs">
            <div class="output">
                <div>result</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="result" [parent]="this"></relation-node-output>
            </div>
        </div>
    </div>
</div>