<ng-container *ngFor="let property of properties">
    <!-- TODO pipe for control.control -->
    <div class="form-group">
        <label class="control-label">{{_propertiesMetadata?.[property]?.name ?? property}} <span *ngIf="_propertiesMetadata?.[property]?.description" class="fas fa-info-circle" [tooltip]="_propertiesMetadata?.[property]?.description"></span></label>
        <ng-container [propertyTypeControl]="_propertiesMetadata?.[property]?.type" [control]="$any(form?.get(property) | asFormControl)" [values]="_propertiesMetadata?.[property]?.values ?? []"></ng-container>
    </div>
</ng-container>