@for(property of properties; track property)
{
    <!-- TODO pipe for control.control -->
    @if(form?.get(property))
    {
        <div class="properties-form-group">
            <label class="properties-control-label">{{(propertiesMetadata?.[property]?.name ?? property)|firstUppercaseLocalize}} @if(propertiesMetadata?.[property]?.description){<span class="fas fa-info-circle" [tooltip]="propertiesMetadata?.[property]?.description|firstUppercaseLocalize"></span>}</label>
            <ng-container [propertyTypeControl]="propertiesMetadata?.[property]?.type" [control]="$any(form?.get(property) | asFormControl)" [values]="propertiesMetadata?.[property]?.values ?? []"/>
        </div>
    }
}