<main-menu/>

<progress-indicator/>
<internal-server-error/>
<global-notifications/>
<hotkeys-cheatsheet/>

<!-- <div class="content relative" [@routeAnimations]="routeComponentState"> -->
<div class="content relative">
    <div class="main-content">
        <router-outlet #outlet="outlet"/>
    </div>
</div>

<div class="gui-version">GUI version: {{guiVersion}}</div>

@if(consoleVisible)
{
    <console @consoleAnimation/>
}

@if(!initialized)
{
    <div class="loading-indicator" @loaderAnimation>
        <div></div>
    </div>
}