<div class="grid-flex-row">
    <div class="grid-flex-row pages">
        <a class="disabled">
            <span>«</span>
        </a>
        
        <a class="active">
            <span>1</span>
        </a>
        
        <a>
            <span>2</span>
        </a>
        <a>
            <span>»</span>
        </a>
    </div>

    <div class="grid-flex-1"></div>

    <div class="grid-flex-row">
        <div class="paging-items-count">15/20</div>
        <div class="grid-flex-row items-per-page">
            <a class="active">
                <span>15</span>
            </a>

            <a>
                <span>30</span>
            </a>
            
            <a>
                <span>60</span>
            </a>
        </div>
    </div>
</div>