<div [formGroup]="form">
    <div class="form-group margin-bottom-extra-small">
        <label class="control-label text-uppercase">name</label>
        <input type="text" class="form-control" formControlName="name">
    </div>

    <div class="flex-column">
        <button type="button" class="btn btn-primary align-self-center" (click)="showCodeEditor()">
            <span>default value</span>
        </button>
    </div>
</div>

<div class="flex-row flex-end">
    <button type="button" class="btn btn-info margin-right-extra-small" [mat-dialog-close]="null">
        <span>cancel</span>
    </button>

    <button type="button" class="btn btn-primary" [mat-dialog-close]="true">
        <span>ok</span>
    </button>
</div>