<relations-node-header [parent]="this" [destroySubject]="destroySubject"></relations-node-header>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs">
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="value" [parent]="this"></relation-node-input>
                <div>{{'value'|firstUppercaseLocalize}}</div>
            </div>
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="required" [parent]="this"></relation-node-input>
                <div>{{'required'|firstUppercaseLocalize}}/div>
            </div>
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="disabled" [parent]="this"></relation-node-input>
                <div>{{'disabled'|firstUppercaseLocalize}}</div>
            </div>
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="values" [parent]="this"></relation-node-input>
                <div>{{'values'|firstUppercaseLocalize}}</div>
            </div>
        </div>

        <div class="outputs">
            <div class="output">
                <div>{{'value'|firstUppercaseLocalize}}</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="valueOutput" [parent]="this"></relation-node-output>
            </div>
        </div>
    </div>
</div>