<relations-node-header [parent]="this" [destroySubject]="destroySubject" name="sync values"></relations-node-header>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs">
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="value" [parent]="this"></relation-node-input>
                <div>value</div>
            </div>
        </div>

        <div class="outputs">
            <div class="output">
                <div>value</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="value" [parent]="this"></relation-node-output>
            </div>
        </div>
    </div>
</div>