:host
{
    display: flex;
    flex-direction: column;
    position: relative;
}

.properties-main
{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    border: 1px solid #bbb;
    background-color: #F5F5F5;
    max-width: 390px;
}

.header
{
    display: flex;
    flex-direction: row;
    padding: 2px 8px;
    background-color: #bbb;
}

.header-title
{
    flex: 1;
    min-width: 0;
    min-height: 0;
}

.header-title::first-letter
{
    text-transform: uppercase;
    line-height: 0em;
}

.static-properties
{
    padding: 4px 10px;
}

.properties-controls
{
    padding: 4px 3px 4px 10px;
}

.properties-controls
{
    overflow-y: scroll;
    overflow-x: hidden;
}

.properties-toolbar
{
    background-color: #ddd;
    padding: 6px 4px;
    transform: translateX(calc(-1em - 4px));
    position: absolute;
}

.properties-toolbar>button>span
{
    font-weight: 600;
}