:host
{
    display: flex;
    flex-direction: column;
}

.properties-main
{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    border: 1px solid #bbb;
    background-color: #F5F5F5;
}

.header
{
    padding: 2px 8px;
    background-color: #bbb;
}

.header::first-letter
{
    text-transform: uppercase;
    line-height: 0em;
}

.static-properties
{
    padding: 4px 10px;
}

.properties-controls
{
    padding: 4px 3px 4px 10px;
}

.properties-controls
{
    overflow-y: scroll;
    overflow-x: hidden;
}