<div *ngIf="!visible">
    <div class="properties-toolbar">
        <button type="button" class="btn-icon" (click)="toggleCollapsed()">
            <span class="text-vertical">properties</span>
        </button>
    </div>
</div>

<div class="properties-main" *ngIf="visible">
    <div class="header">
        <div class="header-title">properties</div>
        
        <button type="button" class="btn-icon" (click)="toggleCollapsed()">
            <span class="fas fa-times"></span>
        </button>
    </div>

    <ng-container *ngIf="component">
        <div class="static-properties">
            <div class="properties-form-group">
                <label class="properties-control-label">type</label>
                <div class="properties-form-static">{{metadata?.metaInfo?.name ?? component.options?.typeMetadata?.name}}</div>

                <label class="properties-control-label">id</label>
                <div class="properties-form-static">{{component.options?.typeMetadata?.id}}</div>

                <label class="properties-control-label">display name</label>
                <input class="properties-form-control" type="text" [formControl]="displayName">
            </div>
        </div>


        <div class="thin-scrollbar properties-controls">
            <ng-container *ngFor="let props of propertiesData">
                <ng-container *ngFor="let propertiesCtrl of props.controls">
                    <ng-container [propertiesControl]="propertiesCtrl" [form]="props.form" [propertiesMetadata]="props.metadata"></ng-container>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>