//############## DRAG N DROP OVERLAYS ##############

@mixin dropzone-overlay
{
    .dropzone-overlay
    {
        // TODO: move color to prop
        background-color: #3333331c;
        position: absolute;
        pointer-events: none;
    
        &>div
        {
            position: absolute;
            top: -2em;
            opacity: 0.85;
        }
    }
}
