%hidden
{
    display: none;
}

%bold
{
    font-weight: bold;
}

%semi-bold
{
    font-weight: 500;
}

%flex-row
{
    display: flex;
    flex-direction: row;
}

%flex-column
{
    display: flex;
    flex-direction: column;
}

%flex-end
{
    justify-content: flex-end;
}

%flex-1
{
    flex: 1;
    min-width: 0;
    min-height: 0;
}

%align-self-center
{
    align-self: center;
}

%align-items-center
{
    align-items: center;
}

%text-uppercase
{
    text-transform: uppercase;
}

%text-spread
{
    letter-spacing: 1px;
}

%text-small-caps
{
    font-variant-caps: small-caps;
}

%btn-info
{
}

%btn-icon
{
}

%control-label
{
}

%form-control
{
}

%form-group
{
}

%small-text
{
}

%drag-placeholder
{
    background: var(--dynamic-drag-placeholder);
    border-color: var(--dynamic-drag-placeholder);
    border-width: 3px;
    border-style: solid;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@mixin misc
{
    .dynamic-hidden
    {
        @extend %hidden;
    }

    .dynamic-bold
    {
        @extend %bold;
    }

    .dynamic-semi-bold
    {
        @extend %semi-bold;
    }

    .dynamic-flex-row
    {
        @extend %flex-row;
    }

    .dynamic-flex-column
    {
        @extend %flex-column;
    }

    .dynamic-flex-end
    {
        @extend %flex-end;
    }

    .dynamic-flex-1
    {
        @extend %flex-1;
    }

    .dynamic-align-self-center
    {
        @extend %align-self-center;
    }

    .dynamic-align-items-center
    {
        @extend %align-items-center;
    }

    .dynamic-text-uppercase
    {
        @extend %text-uppercase;
    }

    .dynamic-text-spread
    {
        @extend %text-spread;
    }

    .dynamic-text-small-caps
    {
        @extend %text-small-caps;
    }

    .dynamic-btn-info
    {
    }

    .dynamic-btn-icon
    {
    }

    .dynamic-control-label
    {
    }

    .dynamic-form-control
    {
    }

    .dynamic-form-group
    {
    }
}

@mixin overrides
{
    //############## MAT TABS ##############

    .mat-tab-body-content
    {
        @extend .dynamic-thin-scrollbar;
    }
}

@mixin thin-scrollbar($thinScrollbarColorVar)
{
    .dynamic-thin-scrollbar
    {
        scrollbar-width: thin;
        scrollbar-color: var(#{$thinScrollbarColorVar}) transparent;
    }

    .dynamic-thin-scrollbar::-webkit-scrollbar-thumb
    {
        background-color: var(#{$thinScrollbarColorVar});
    }
    
    .dynamic-thin-scrollbar::-webkit-scrollbar
    {
        width: 6px;
        background-color: transparent;
    }
}

@mixin generate-margin-padding($type, $sizes)
{
    @each $sizeType, $size in $sizes
    {
        .dynamic-#{$type}-#{$sizeType}
        {
            #{$type}: $size;
        }

        .dynamic-#{$type}-right-#{$sizeType}
        {
            #{$type}-right: $size;
        }

        .dynamic-#{$type}-left-#{$sizeType}
        {
            #{$type}-left: $size;
        }

        .dynamic-#{$type}-top-#{$sizeType}
        {
            #{$type}-top: $size;
        }

        .dynamic-#{$type}-bottom-#{$sizeType}
        {
            #{$type}-bottom: $size;
        }

        .dynamic-#{$type}-horizontal-#{$sizeType}
        {
            #{$type}-left: $size;
            #{$type}-right: $size;
        }

        .dynamic-#{$type}-vertical-#{$sizeType}
        {
            #{$type}-top: $size;
            #{$type}-bottom: $size;
        }
    }
}