.dynamic-flex-row
{
    display: flex;
    flex-direction: row;
}

.dynamic-flex-column
{
    display: flex;
    flex-direction: column;
}

.dynamic-flex-end
{
    justify-content: flex-end;
}

.dynamic-flex-1
{
    flex: 1;
    min-width: 0;
    min-height: 0;
}

.dynamic-align-self-center
{
    align-self: center;
}

.dynamic-align-items-center
{
    align-items: center;
}

.dynamic-thin-scrollbar
{
}

.dynamic-btn
{
}

.dynamic-btn-primary
{
}

.dynamic-btn-info
{
}

.dynamic-btn-icon
{
}

.dynamic-control-label
{
}

.dynamic-form-control
{
}

.dynamic-form-group
{
}
