%hidden
{
    display: none;
}

%bold
{
    font-weight: bold;
}

%semi-bold
{
    font-weight: 500;
}

%flex-row
{
    display: flex;
    flex-direction: row;
}

%flex-column
{
    display: flex;
    flex-direction: column;
}

%flex-end
{
    justify-content: flex-end;
}

%flex-1
{
    flex: 1;
    min-width: 0;
    min-height: 0;
}

%flex-5
{
    flex: 5;
    min-width: 0;
    min-height: 0;
}

%align-self-center
{
    align-self: center;
}

%align-items-center
{
    align-items: center;
}

%justify-content-center
{
    justify-content: center;
}

%text-uppercase
{
    text-transform: uppercase;
}

%text-spread
{
    letter-spacing: 1px;
}

%text-small-caps
{
    font-variant-caps: small-caps;
}

%control-label
{
    display: block;
    font-size: 12px;
    font-weight: 500;
}

%form-control
{
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    font-size: 12px;
    padding: 3px;
    padding-left: 3px;
    padding-left: 7px;
    width: 100%;
    font-family: var(--dynamic-font-family);
}

%form-group
{
}

%text-vertical
{
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

%small-text
{
    font-size: 0.9em;
}

%medium-text
{
    font-size: 1.1em;
}

%large-text
{
    font-size: 1.25em;
}

%drag-placeholder
{
    background: var(--dynamic-drag-placeholder);
    border-color: var(--dynamic-drag-placeholder);
    border-width: 3px;
    border-style: solid;
    border-radius: 4px;
}

%relation-node-endpoint
{
    display: block;
    width: 1.45em;
    height: 1.45em;
    border-width: .5em;
    border-style: solid;
    border-radius: 50%;
    background-color: var(--dynamic-relation-node-endpoint-background);
    cursor: crosshair;

    &.highlighted
    {
        box-shadow: 0 0 8px 2px var(--dynamic-relation-node-endpoint-highlighted-shadow);
    }
}

%buttons-gap
{
    gap: 10px;
}



@mixin misc
{
    .dynamic-hidden
    {
        @extend %hidden;
    }

    .dynamic-bold
    {
        @extend %bold;
    }

    .dynamic-semi-bold
    {
        @extend %semi-bold;
    }

    .dynamic-flex-row
    {
        @extend %flex-row;
    }

    .dynamic-flex-column
    {
        @extend %flex-column;
    }

    .dynamic-flex-end
    {
        @extend %flex-end;
    }

    .dynamic-flex-1
    {
        @extend %flex-1;
    }

    .dynamic-flex-5
    {
        @extend %flex-5;
    }

    .dynamic-align-self-center
    {
        @extend %align-self-center;
    }

    .dynamic-align-items-center
    {
        @extend %align-items-center;
    }

    .dynamic-justify-content-center
    {
        @extend %justify-content-center;
    }

    .dynamic-text-uppercase
    {
        @extend %text-uppercase;
    }

    .dynamic-text-spread
    {
        @extend %text-spread;
    }

    .dynamic-text-small-caps
    {
        @extend %text-small-caps;
    }

    .dynamic-control-label
    {
        @extend %control-label;
    }

    .dynamic-form-control:not(ng-select):not(date-time-selector)
    {
        @extend %form-control;

        color: var(--dynamic-form-control-foreground);
        border-color: var(--dynamic-form-control-border);
        background-color: var(--dynamic-form-control-background);
    }

    .dynamic-form-group
    {
        @extend %form-group;
    }

    .dynamic-text-vertical
    {
        @extend %text-vertical;
    }

    .dynamic-small-text
    {
        @extend %small-text;
    }

    .dynamic-medium-text
    {
        @extend %medium-text;
    }

    .dynamic-large-text
    {
        @extend %large-text;
    }

    .dynamic-buttons-gap
    {
        @extend %buttons-gap;
    }
}

@mixin overrides
{
    //############## MAT TABS ##############

    .mat-tab-body-content
    {
        @extend .dynamic-thin-scrollbar;
    }
}

@mixin thin-scrollbar($thinScrollbarColorVar)
{
    .dynamic-thin-scrollbar
    {
        scrollbar-width: thin;
        scrollbar-color: var(#{$thinScrollbarColorVar}) transparent;
    }

    .dynamic-thin-scrollbar::-webkit-scrollbar-thumb
    {
        background-color: var(#{$thinScrollbarColorVar});
    }
    
    .dynamic-thin-scrollbar::-webkit-scrollbar
    {
        width: 6px;
        background-color: transparent;
    }
}

@mixin generate-gap($sizes)
{
    @each $sizeType, $size in $sizes
    {
        .dynamic-gap-#{$sizeType}
        {
            gap: $size;
        }

        .dynamic-row-gap-#{$sizeType}
        {
            row-gap: $size;
        }

        .dynamic-column-gap-#{$sizeType}
        {
            column-gap: $size;
        }
    }
}

@mixin generate-margin-padding($type, $sizes)
{
    @each $sizeType, $size in $sizes
    {
        .dynamic-#{$type}-#{$sizeType}
        {
            #{$type}: $size;
        }

        .dynamic-#{$type}-right-#{$sizeType}
        {
            #{$type}-right: $size;
        }

        .dynamic-#{$type}-left-#{$sizeType}
        {
            #{$type}-left: $size;
        }

        .dynamic-#{$type}-top-#{$sizeType}
        {
            #{$type}-top: $size;
        }

        .dynamic-#{$type}-bottom-#{$sizeType}
        {
            #{$type}-bottom: $size;
        }

        .dynamic-#{$type}-horizontal-#{$sizeType}
        {
            #{$type}-left: $size;
            #{$type}-right: $size;
        }

        .dynamic-#{$type}-vertical-#{$sizeType}
        {
            #{$type}-top: $size;
            #{$type}-bottom: $size;
        }
    }
}