@use 'sass:meta';
@use 'sass:map';

@use 'buttons';
@use 'global';
@use 'misc';
@use '../components/components-tree-item' as componentsTreeItem;
@use '../components/layout-designer-component' as layoutDesignerComponent;
@use '../components/properties-editor' as propertiesEditor;
@use '../components/relations-canvas' as relationsCanvas;

@mixin buildThemeColors($theme)
{
    --dynamic-font-family: #{map.get($theme, 'font')};
    --dynamic-btn-primary-background: #{map.get(map.get($theme, 'btnPrimary'), 'background')};
    --dynamic-btn-primary-foreground: #{map.get(map.get($theme, 'btnPrimary'), 'foreground')};
    --dynamic-btn-primary-border: #{map.get(map.get($theme, 'btnPrimary'), 'border')};;
    --dynamic-thin-scrollbar: #{map.get($theme, 'scrollbar')};
    --dynamic-drag-placeholder: #{map.get($theme, 'dragPlaceholder')};
    --dynamic-dropzone-overlay-background: #{map.get(map.get($theme, 'dropzoneOverlay'), 'background')};
    --dynamic-layout-designer-component-dragged-background: #{map.get(map.get(map.get($theme, 'layoutDesignerComponent'), 'dragged'), 'background')};
    --dynamic-layout-designer-component-dragged-shadow1: #{map.get(map.get(map.get($theme, 'layoutDesignerComponent'), 'dragged'), 'shadow1')};
    --dynamic-layout-designer-component-dragged-shadow2: #{map.get(map.get(map.get($theme, 'layoutDesignerComponent'), 'dragged'), 'shadow2')};
    --dynamic-properties-editor-properties-form-control-foreground: #{map.get(map.get(map.get($theme, 'propertiesEditor'), 'propertiesFormControl'), 'foreground')};
    --dynamic-properties-editor-properties-form-control-border: #{map.get(map.get(map.get($theme, 'propertiesEditor'), 'propertiesFormControl'), 'border')};
    --dynamic-properties-editor-properties-form-control-background: #{map.get(map.get(map.get($theme, 'propertiesEditor'), 'propertiesFormControl'), 'background')};
    --dynamic-relations-canvas-relations-node-shadow1: #{map.get(map.get(map.get($theme, 'relationsCanvas'), 'relationsNode'), 'shadow1')};
    --dynamic-relations-canvas-relations-node-shadow2: #{map.get(map.get(map.get($theme, 'relationsCanvas'), 'relationsNode'), 'shadow2')};
    --dynamic-relations-canvas-relations-node-shadow3: #{map.get(map.get(map.get($theme, 'relationsCanvas'), 'relationsNode'), 'shadow3')};
    --dynamic-relations-canvas-relations-node-content-background: #{map.get(map.get(map.get($theme, 'relationsCanvas'), 'relationsNode'), 'contentBackground')};
    --dynamic-relations-canvas-relations-node-header-background: #{map.get(map.get(map.get($theme, 'relationsCanvas'), 'relationsNodeHeader'), 'background')};
    --dynamic-relations-canvas-relations-node-header-foreground: #{map.get(map.get(map.get($theme, 'relationsCanvas'), 'relationsNodeHeader'), 'foreground')};
    --dynamic-relations-canvas-relations-node-header-icon-foreground: #{map.get(map.get(map.get($theme, 'relationsCanvas'), 'relationsNodeHeader'), 'iconForeground')};
    --dynamic-relations-canvas-relations-node-header-icon-foreground-hover: #{map.get(map.get(map.get($theme, 'relationsCanvas'), 'relationsNodeHeader'), 'iconForegroundHover')};
    --dynamic-relations-canvas-relations-node-header-icon-foreground-active: #{map.get(map.get(map.get($theme, 'relationsCanvas'), 'relationsNodeHeader'), 'iconForegroundActive')};
}

@mixin buildThemeCss
{
    @include misc.misc;
    @include misc.generate-margin-padding('margin', (none: 0, extra-small: 4px, small: 10px, medium: 15px, big: 20px));
    @include misc.thin-scrollbar('--dynamic-thin-scrollbar');
    @include misc.overrides;
    @include global.dropzone-overlay;
    @include buttons.btn;
    @include buttons.btn-primary;
    @include componentsTreeItem.css;
    @include layoutDesignerComponent.css;
    @include propertiesEditor.css;
    @include relationsCanvas.css;
}

@mixin buildTheme($theme)
{
    @include buildThemeColors($theme);
    @include buildThemeCss;
}