@use 'sass:meta';
@use 'sass:map';

@use 'buttons';
@use 'global';
@use 'misc';
@use '../components/components-tree-item' as componentsTreeItem;
@use '../components/layout-designer-component' as layoutDesignerComponent;
@use '../components/properties-editor' as propertiesEditor;
@use '../components/relations-canvas' as relationsCanvas;

@mixin buildThemeColors($theme)
{
    --dynamic-font-family: #{map.get($theme, 'font')};
    --dynamic-btn-primary-background: #{map.get(map.get($theme, 'btnPrimary'), 'background')};
    --dynamic-btn-primary-foreground: #{map.get(map.get($theme, 'btnPrimary'), 'foreground')};
    --dynamic-btn-primary-border: #{map.get(map.get($theme, 'btnPrimary'), 'border')};;
    --dynamic-thin-scrollbar: #{map.get($theme, 'scrollbar')};
    --dynamic-drag-placeholder: #{map.get($theme, 'dragPlaceholder')};
    --dynamic-layout-designer-component-dragged-background: #{map.get(map.get($theme, 'layoutDesignerComponent'), 'draggedBackground')};
    --dynamic-layout-designer-component-dragged-shadow1: #{map.get(map.get($theme, 'layoutDesignerComponent'), 'draggedShadow1')};
    --dynamic-layout-designer-component-dragged-shadow2: #{map.get(map.get($theme, 'layoutDesignerComponent'), 'draggedShadow2')};
}

@mixin buildThemeCss
{
    @include misc.misc;
    @include misc.thin-scrollbar('--dynamic-thin-scrollbar');
    @include misc.overrides;
    @include global.dropzone-overlay;
    @include buttons.btn;
    @include buttons.btn-primary;
    @include componentsTreeItem.css;
    @include layoutDesignerComponent.css;
    @include propertiesEditor.css;
    @include relationsCanvas.css;
}

@mixin buildTheme($theme)
{
    @include buildThemeColors($theme);
    @include buildThemeCss;
}