$defaultTheme:
(
    btnPrimary:
    (
        background: #6aba4f,
        foreground: #fff,
        border: #6aba4f,
    ),
    scrollbar: #a8a8a8,
    dragPlaceholder: #0096cc81,
    layoutDesignerComponent: 
    (
        draggedBackground: #bbb,
        draggedShadow1: #00000021,
        draggedShadow2: #00000038,
    ),
);