$defaultTheme:
(
    scrollbar: #a8a8a8,
    dragPlaceholder: #0096cc81,
    dropzoneOverlay:
    (
        background: #3333331c,
    ),
    designerOverlayTitle:
    (
        background: #009dd8,
        foreground: #fff,
    ),
    designerOverlayRemove:
    (
        background: #009dd8,
        foreground: #fff,
    ),

    btnPrimary:
    (
        background: #6aba4f,
        foreground: #fff,
        border: #6aba4f,
    ),
    btnInfo:
    (
        background: #5bc0de,
        foreground: #fff,
        border: #5bc0de,
    ),
    btnIcon:
    (
        foreground: #737373,
    ),
    formControl:
    (
        foreground: #555555,
        background: #f0f0f0,
        border: #cccccc,
    ),

    layoutDesignerComponent: 
    (
        dragged:
        (
            background: #bbb,
            shadow1: #00000021,
            shadow2: #00000038,
        ),
        designerOverlayBorder:
        (
            border: #009dd8,
        ),
        designerDropzoneDragActive:
        (
            border: #0000004d,
        ),
    ),
    propertiesEditor:
    (
        propertiesFormControl:
        (
            foreground: #555555,
            border: #cccccc,
            background: #fafafa,
        ),
        propertiesMain:
        (
            border: #bbb,
            background: #F5F5F5,
        ),
        resizerHover:
        (
            background: #00a2ddc0,
        ),
        propertiesHeader:
        (
            background: #bbb,
        ),
        propertiesToolbar:
        (
            background: #ddd,
        ),
    ),
    relationsCanvas:
    (
        background: #e5e5f7,
        backgroundGradient1: #444cf7,
        backgroundGradient2: #e5e5f7,
        relationsNode:
        (
            shadow1: #0000004d,
            shadow2: #0000003d,
            shadow3: #00000038,
            contentBackground: #fff,
        ),
        relationsNodeHeader:
        (
            background: #4d4d4d,
            foreground: #fff,
            iconForeground: #eae8e8,
            iconForegroundHover: #6aba4f,
            iconForegroundActive: #5dab43,
        ),
    ),
    componentsPalette:
    (
        editorComponent:
        (
            border: #F0F0F0,
            background: #FAFAFA,
        ),
    ),
    componentsTree:
    (
        background: #fafafa,
        border: #ccc,
    ),
    componentsTreeItem:
    (
        highlighted:
        (
            textShadow: #666,
        ),
        selected:
        (
            textShadow: #009cd7,
        ),
    ),
    layoutDesignerOverlayFor:
    (
        marginBackground: #d0ff0060,
        paddingBackground: #613eff60,
        borderBackground: #0011ff62,
    ),
    layoutEditorDragPreview:
    (
        background: #eee,
    ),
    nodesPalette:
    (
        editorComponent:
        (
            border: #F0F0F0,
            background: #FAFAFA,
        ),
    ),
    relationNodeEndpoint:
    (
        background: #fff,
        highlighted:
        (
            shadow: #48B8B8,
        ),
    ),
    packageManager:
    (
        border: #aaa,
    ),
    notFoundNode:
    (
        text:
        (
            foreground: #e10000,
        ),
    )
);