$defaultTheme:
(
    scrollbar: #a8a8a8,
    dragPlaceholder: #0096cc81,
    dropzoneOverlay:
    (
        background: #3333331c,
    ),
    btnPrimary:
    (
        background: #6aba4f,
        foreground: #fff,
        border: #6aba4f,
    ),
    btnInfo:
    (
        background: #5bc0de,
        foreground: #fff,
        border: #5bc0de,
    ),
    btnSuccess:
    (
        background: #6aba4f,
        foreground: #fff,
        border: #6aba4f,
    ),
    btnDanger:
    (
        background: #e42626,
        foreground: #fff,
        border: #e42626,
    ),
    btnIcon:
    (
        foreground: #737373,
    ),
    formControl:
    (
        foreground: #555555,
        background: #f0f0f0,
        border: #cccccc,
    ),
    layoutDesigner: 
    (
        layout:
        (
            margin:
            (
                background: #d0ff0060,
            ),
            padding:
            (
                background: #613eff60,
            ),
            border:
            (
                background: #0011ff62,
            ),
        ),
        title:
        (
            background: #009dd8,
            foreground: #fff,
        ),
        removeBtn:
        (
            background: transparent,
            foreground: #009dd8,
        ),
        dragged:
        (
            background: #bbb,
            shadow1: #00000021,
            shadow2: #00000038,
        ),
        overlay:
        (
            border: #009dd8,
        ),
        dropzoneDragActive:
        (
            border: #0000004d,
        ),
        overComponent:
        (
            background: #666,
        ),
        overContainer:
        (
            background: #aaa2,
            foreground: #000c,
            border: #33333344,
        ),
    ),
    propertiesEditor:
    (
        propertiesFormControl:
        (
            foreground: #555555,
            border: #cccccc,
            background: #fafafa,
        ),
        propertiesMain:
        (
            border: #bbb,
            background: #F5F5F5,
        ),
        resizerHover:
        (
            background: #00a2ddc0,
        ),
        propertiesHeader:
        (
            background: #bbb,
        ),
        propertiesToolbar:
        (
            background: #ddd,
        ),
    ),
    relationsCanvas:
    (
        background: #e5e5f7,
        backgroundGradient1: #444cf7,
        backgroundGradient2: #e5e5f7,
        relationsNode:
        (
            shadow1: #0000004d,
            shadow2: #0000003d,
            shadow3: #00000038,
            contentBackground: #fff,
            registrationStep:
            (
                shadow1: #33ff004d,
                shadow2: #33ff003d,
                shadow3: #33ff0038,
            ),
            dataTransferStep:
            (
                border: #2cc800,
            ),
        ),
        relationsNodeHeader:
        (
            background: #4d4d4d,
            foreground: #fff,
            iconForeground: #eae8e8,
            iconForegroundHover: #6aba4f,
            iconForegroundActive: #5dab43,
        ),
    ),
    componentsPalette:
    (
        editorComponent:
        (
            border: #F0F0F0,
            background: #FAFAFA,
        ),
    ),
    componentsTree:
    (
        background: #fafafa,
        border: #ccc,
    ),
    componentsTreeItem:
    (
        highlighted:
        (
            textShadow: #666,
        ),
        selected:
        (
            textShadow: #009cd7,
        ),
    ),
    layoutEditorDragPreview:
    (
        background: #eee,
    ),
    nodesPalette:
    (
        editorComponent:
        (
            border: #F0F0F0,
            background: #FAFAFA,
        ),
    ),
    relationNodeEndpoint:
    (
        background: #fff,
        highlighted:
        (
            shadow: #48B8B8,
        ),
    ),
    packageManager:
    (
        border: #aaa,
    ),
    notFoundNode:
    (
        text:
        (
            foreground: #e10000,
        ),
    ),
    placeholder:
    (
        foreground: #009dd8,
        background: transparent,
    ),
    contentOptions:
    (
        border: #aaa,
    ),
    relationsDebuggerVisualizer:
    (
        foreground: #222,
        background: #f5f5f5,
    ),
    relationsDebuggerTooltip:
    (
        foreground: #222,
        background: #f5f5f5,
        shadow1: #0003,
        shadow2: #00000024,
        shadow3: #0000001f,
    ),
    dataTableDesigner:
    (
        columnHeader:
        (
            background: #666,
            foreground: #fff,
        ),
        plugins:
        (
            background: #0000001A,
        ),
        plugin:
        (
            shadow: #666,
        ),
    ),
);