<relations-node-header>negation</relations-node-header>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs">
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="condition" [parent]="this"></relation-node-input>
                <div>condition</div>
            </div>
        </div>

        <div class="outputs">
            <div class="output">
                <div>negated condition</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="negatedCondition" [parent]="this"></relation-node-output>
            </div>
        </div>
    </div>
</div>