<div>
    <ng-select [formControl]="_available">
        <ng-option *ngFor="let val of _availableNames" [value]="val" [text]="val"></ng-option>
    </ng-select>
</div>

<form [formGroup]="_formGroup" (ngSubmit)="_submit()" *ngIf="_metadata">
    <div class="flex-row margin-top-big flex-1">
        <div class="flex-1 overflow-vertical-scroll">
            <ng-container [layoutComponentRenderer]="_metadata" [layoutComponentRendererInjector]="_formInjector"></ng-container>
        </div>
    </div>
    
    <button class="button">Submit</button>
</form>
