<div class="designer-overlay" 
     #layoutDesigner
     #dndCore="dndCoreDesigner"
     [dndCoreDesigner]="{metadata: renderedType, parentId: parent?.renderedType?.id, index: index}"
     [dropzoneElement]="layoutDropzone"
     [dragDisabled]="dragDisabled"
     [dragSource]="dndCore.drag"
     [noHTML5Preview]="true"
     (dropMetadata)="addDescendant($event)"
     [copyDesignerStyles]="renderedType"
     (mouseleave)="hideOverlay($event)"
     (mouseover)="showOverlay($event)"
     (click)="selectComponent($event)"
     (dblclick)="unselectComponent($event)">
    <div class="designer-dropzone"
         #layoutDropzone
         designerMinWidth
         #minWidthDirective="designerMinWidth"
         [canDrop]="canDrop"
         [editorMetadata]="editorMetadata"
         [horizontal]="parent?.horizontal ?? false"
         [dropTarget]="dndCore.dropzone"
         [isDropZone]="canDrop">

        @if(highlighted || selected)
        {
            <div class="designer-overlay-border"></div>
            <div class="designer-overlay-layout" [layoutDesignerOverlayFor]="options?.typeMetadata?.id"></div>

            <div class="designer-overlay-title"
                 *bodyRender
                 [positionTo]="layoutDesigner"
                 placement="TopStart">{{renderedType?.displayName ?? editorMetadata?.metaInfo?.name ?? renderedType?.name}}</div>

            @if(!!parent && parent.editorMetadata?.removeDescendant)
            {
                <div *bodyRender
                     class="designer-overlay-remove"
                     [positionTo]="layoutDesigner"
                     [offset]="{mainAxis: -14}"
                     placement="TopEnd"
                     (click)="remove()">
                    <span class="fas fa-times"></span>
                </div>
            }
        }

        <ng-container *layoutComponentRenderer="renderedType; callback: [dndCore.renderedComponentCallback, minWidthDirective.renderedComponentCallback] | combineRenderersCallbacks"/>
    </div>
</div>
