<div class="designer-overlay" 
     #layoutDesigner
     cdkDrag
     cdkDropList
     designerMinHeight
     connectDropLists
     [copyDesignerStyles]="renderedType"
     [cdkDragData]="{metadata: renderedType, parentId: _parent?.renderedType?.id}"
     [cdkDragDisabled]="!_parent || _editorMetadata?.metaInfo?.dragDisabled"
     [cdkDropListEnterPredicate]="canDrop"
     (mouseleave)="hideOverlay($event)"
     (mouseover)="showOverlay($event)"
     (cdkDropListDropped)="addDescendant($event)"
     (click)="selectComponent($event)"
     (dblclick)="unselectComponent($event)">
    <div class="drag-placeholder mat-elevation-z6" *cdkDragPlaceholder></div>
    <div class="drag-preview mat-elevation-z8" *cdkDragPreview>{{renderedType?.name}}#{{renderedType?.id}}</div>
    <ng-template [layoutComponentRenderer]="renderedType" [layoutComponentRendererDisableTransformer]="true"></ng-template>

    <ng-container *ngIf="highlighted || selected">
        <div class="designer-overlay-border"></div>

        <div *ngIf="highlighted || selected"
             class="designer-overlay-title"
             [positionTo]="layoutDesigner"
             placement="TopStart">{{_editorMetadata?.metaInfo?.name ?? renderedType?.name}}</div>
    </ng-container>
</div>
