<div class="dynamic-form-group" [formGroup]="form">
    <label class="dynamic-control-label">display name</label>
    <input class="dynamic-form-control" type="text" formControlName="displayName">

    <label class="dynamic-control-label">scope</label>
    <input class="dynamic-form-control" type="text" formControlName="scope" [readonly]="true" *ngIf="!data.scopeConfigurable">

    <select class="dynamic-form-control" formControlName="scope" *ngIf="data.scopeConfigurable">
        <option value="">---</option>
        <option *ngFor="let scope of scopes" [value]="scope">{{scope}}</option>
    </select>
</div>

<div class="dynamic-flex-row dynamic-flex-end dynamic-margin-top-small">
    <button type="button" class="dynamic-btn dynamic-btn-info dynamic-margin-right-extra-small" [mat-dialog-close]="null">
        <span>cancel</span>
    </button>

    <button type="button" class="dynamic-btn dynamic-btn-primary" [mat-dialog-close]="form.value">
        <span>ok</span>
    </button>
</div>