<div class="flex-row">
    <load-save-new [store]="_store" [getMetadataCallback]="_getMetadata" routePath="/relations-editor" (metadataChange)="_metadata = ($any($event) ?? emptyMetadata)"></load-save-new>

    <button class="btn btn-primary" type="button" (click)="_loadDemo()">
        <span>demo</span>
    </button>
</div>

<div class="flex-row flex-1">
    <nodes-palette [canvasDropList]="dropList" style="width: 250px;"></nodes-palette>
    <relations-canvas #dropList="cdkDropList" [nodeDefinitions]="_metadata" class="flex-1" cdkDropList (cdkDropListDropped)="addNode($event)"></relations-canvas>
</div>