
<div class="component-tree" *ngIf="root">
    <button type="button" mat-icon-button [attr.aria-label]="'collapse all'|firstUppercaseLocalize"  (click)="rootTreeItem?.collapseAll()">
        <span class="fa fa-minus-square"></span>
    </button>

    <button type="button" mat-icon-button [attr.aria-label]="'Expand all'|firstUppercaseLocalize" (click)="rootTreeItem?.expandAll()">
        <span class="fa fa-plus-square"></span>
    </button>
    
    <components-tree-item [data]="root"></components-tree-item>
</div>
