<button mat-icon-button aria-label="Collapse all">
    <span class="fa fa-minus-square"></span>
</button>
<button mat-icon-button aria-label="Expand all">
    <span class="fa fa-plus-square"></span>
</button>

<div class="component-tree" cdkDropList *ngIf="root">
    <ng-container *ngTemplateOutlet="components.template; context: { $implicit: root }"></ng-container>
</div>

<!-- Tree node template -->
<ng-template #components="treeNodeTemplate"
             treeNodeTemplate
             let-item>
    <div 
        [ngClass]="hasChild(item) ? 'nested-node-tree' : 'node-tree'"
        [class.selected]="item.component.options?.typeMetadata?.id === _manager.selectedComponent"
        [class.highlighted]="item.component.options?.typeMetadata?.id === _manager.highlightedComponent"
        (mouseover)="highlight($event, item.component.options?.typeMetadata?.id)"
        (click)="_manager.selectComponent(item.component.options?.typeMetadata?.id)">{{item.component.options?.typeMetadata?.id}}</div>

    <div class="node-children" cdkDropList>
        <div cdkDrag *ngFor="let child of item.children">
            <ng-container *ngTemplateOutlet="components.template; context: {$implicit: child}"></ng-container>
        </div>
    </div>
</ng-template>

