<ng-select [formControl]="available" style="width: 180px">
    <ng-option [value]="''" text="*unsaved*"></ng-option>
    <ng-option *ngFor="let val of availableNames" [value]="val" [text]="val"></ng-option>
</ng-select>

<button class="btn btn-danger" type="button" (click)="delete()" [disabled]="!available.value">
    <span>remove</span>
</button>

<button class="btn btn-primary" type="button" (click)="load()" [disabled]="!available.value">
    <span>load</span>
</button>

<input type="text" [formControl]="name">

<button class="btn btn-primary" type="button" (click)="save()" [disabled]="!name.value">
    <span>save <ng-container *ngIf="!(history?.saved ?? true)">*</ng-container></span>
</button>

<button class="btn btn-primary" type="button" (click)="new()">
    <span>new</span>
</button>

@if(liveEvents)
{
    <mat-slide-toggle [checked]="liveEvents.enabled" (change)="liveEvents.setEnabled(!liveEvents.enabled)">live events</mat-slide-toggle>
}

@if(customComponentsRegister)
{
    <button type="button" class="btn btn-primary" [showCustomComponentOptions]="available.value" [disabled]="!component.value">CC options</button>

    <label class="margin-horizontal-extra-small" *ngIf="componentMarking"><input type="checkbox" [formControl]="component"> component</label>
}
