<ng-select [formControl]="_available" style="width: 180px">
    <ng-option [value]="''" text="*unsaved*"></ng-option>
    <ng-option *ngFor="let val of _availableNames" [value]="val" [text]="val"></ng-option>
</ng-select>

<button class="btn btn-danger" type="button" (click)="_delete()" [disabled]="!_available.value">
    <span>remove</span>
</button>

<button class="btn btn-primary" type="button" (click)="_load()" [disabled]="!_available.value">
    <span>load</span>
</button>

<input type="text" [formControl]="_name">

<button class="btn btn-primary" type="button" (click)="_save()" [disabled]="!_name.value">
    <span>save <ng-container *ngIf="!(history?.saved ?? true)">*</ng-container></span>
</button>

<button class="btn btn-primary" type="button" (click)="_new()">
    <span>new</span>
</button>

<label class="margin-horizontal-extra-small" *ngIf="componentMarking"><input type="checkbox" [formControl]="_component"> component</label>