<div class="flex-row">
    <button class="btn btn-primary margin-right-extra-small" type="button" goBack>
        <span>go back</span>
    </button>

    <load-save-new [store]="_store" [getMetadataCallback]="_getMetadata" routePath="/relationsComplex/layout" (metadataChange)="_metadata = ($any($event?.layout) ?? emptyMetadata)" [history]="history"></load-save-new>
    
    <button class="btn btn-primary" type="button" (click)="_loadDemo()">
        <span>demo</span>
    </button>

    <button class="btn btn-primary" type="button" (click)="_loadRestDemo()">
        <span>demo rest</span>
    </button>

    <button class="btn btn-primary" type="button" (click)="_loadFullDemo()">
        <span>demo full</span>
    </button>
</div>

<layout-editor class="flex-1" [metadata]="_metadata"></layout-editor>