@use 'sass:map';
@use '../core/functions';
@use '../core/mixins';

$_darkDefaultTheme:
(
    btnPrimary:
    (
        background: #6aba4f,
        foreground: #fff,
        border: #6aba4f,
    ),
    scrollbar: #a8a8a8,
    dragPlaceholder: #0096cc81,
);

@function defineTheme($colors: (), $font: 'Inter')
{
    $colors: map.deep-merge($_darkDefaultTheme, $colors);

    @return functions.defineTheme($colors, $font);
}

@mixin buildTheme()
{
    @include mixins.buildTheme(defineTheme());
}