@use 'sass:map';
@use '../core/functions';

$_lightDefaultTheme:
(
    btnPrimary:
    (
        background: #6aba4f,
        foreground: #fff,
        border: #6aba4f,
    ),
);

@function defineTheme($colors: (), $font: 'Inter')
{
    $colors: map.deep-merge($_lightDefaultTheme, $colors);

    @return functions.defineTheme($colors, $font);
}

@mixin buildTheme()
{
    @include mixins.buildTheme(defineTheme());
}