<relations-node-header>sample source</relations-node-header>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs">
        </div>
    
        <div class="outputs">
            <div class="output">
                <div>výstup</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="vystup" [parent]="this"></relation-node-output>
            </div>
    
            <div class="output">
                <div>object</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="obj" [parent]="this"></relation-node-output>
            </div>
        </div>
    </div>
</div>