<div class="flex-row">
    <button class="btn btn-primary margin-right-extra-small" type="button" goBack>
        <span>go back</span>
    </button>

    <load-save-new [store]="_store" [getMetadataCallback]="_getMetadata" routePath="/relationsComplex/relations" (metadataChange)="setMetadata($event)"></load-save-new>

    <button class="btn btn-primary" type="button" (click)="_loadDemo()">
        <span>demo</span>
    </button>

    <button class="btn btn-primary" type="button" (click)="_loadRestDemo()">
        <span>demo rest</span>
    </button>

    <button class="btn btn-primary" type="button" (click)="_loadFullDemo()">
        <span>demo full</span>
    </button>
</div>

<relations-editor class="flex-1" [metadata]="_metadata"></relations-editor>