@mixin css
{
    components-palette
    {
        .editor-component
        {
            margin: 2px 10px;
            padding: 4px 8px;

            border-radius: 6px;
            border: 1px solid var(--dynamic-components-palette-editor-component-border);
            background-color: var(--dynamic-components-palette-editor-component-background);
        }

        .editor-component-name
        {
            font-weight: 500;
        }

        .editor-component-description
        {
            margin-left: 4px;
            margin-top: 2px;
            font-size: .8em;
        }

        .palette-droplist layout-editor-drag-placeholder
        {
            display: none;
        }
    }
}