@mixin css
{
    content-options
    {
        display: flex;
        flex-direction: column;

        .component-separator
        {
            border-bottom: 1px solid var(--dynamic-content-options-border);
            margin-bottom: 10px;
        }
    }
}