@mixin css
{
    data-table-designer
    {
        grid-columns-designer
        {
            display: grid;

            grid-template-rows: auto;

            grid-column-header-designer
            {
                background-color: var(--dynamic-data-table-designer-column-header-background);
                color: var(--dynamic-data-table-designer-column-header-foreground);
                padding: 4px;
            }
        }

        .data-table-plugins
        {
            background-color: var(--dynamic-data-table-designer-plugins-background);
            padding: 10px 15px;
            display: flex;
            flex-direction: row;
            gap: 10px;

            .plugin
            {
                box-shadow: 0 0 3px var(--dynamic-data-table-designer-plugin-shadow);
            }

            .plugin-title
            {
                letter-spacing: 1px;
                font-weight: 500;
            }
        }
    }
}