@mixin css
{
    relations-canvas,
    relations-canvas-debug
    {
        background-color: var(--dynamic-relations-canvas-background);
        opacity: 0.6;
        background-image: radial-gradient(var(--dynamic-relations-canvas-background-gradient1) 0.8px, var(--dynamic-relations-canvas-background-gradient2) 0.8px);
        overflow: hidden;

        .flow-area
        {
            height: 100%;
            position: relative;
            transform-origin: 0 0;
        }

        .relations-wrapper
        {
            width: 100%;
            height: 100%;
            overflow: visible;
        }

        .relations-node
        {
            display: block;
            position: absolute;
            border-radius: 1rem;
            -webkit-box-shadow: 0px 5px 5px -3px var(--dynamic-relations-canvas-relations-node-shadow1),0px 8px 10px 1px var(--dynamic-relations-canvas-relations-node-shadow2),0px 3px 14px 2px var(--dynamic-relations-canvas-relations-node-shadow3);
            -moz-box-shadow: 0px 5px 5px -3px var(--dynamic-relations-canvas-relations-node-shadow1),0px 8px 10px 1px var(--dynamic-relations-canvas-relations-node-shadow2),0px 3px 14px 2px var(--dynamic-relations-canvas-relations-node-shadow3);
            box-shadow: 0px 5px 5px -3px var(--dynamic-relations-canvas-relations-node-shadow1),0px 8px 10px 1px var(--dynamic-relations-canvas-relations-node-shadow2),0px 3px 14px 2px var(--dynamic-relations-canvas-relations-node-shadow3);

            &.unregistered
            {
                opacity: 0.3;
            }

            &.registration-step
            {
                animation: 1s linear infinite alternate flash-registered-step;
            }

            relations-node-header,
            .relations-node-header,
            .node-content
            {
                padding: .5rem;
            }

            .inputs
            {
                margin-right: 10px;

                .input
                {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 4px;

                    &>div
                    {
                        margin-left: 4px;

                        &:first-letter
                        {
                            text-transform: uppercase;
                            line-height: 0em;
                        }
                    }
                }
            }

            .outputs
            {
                margin-left: 10px;

                .output
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin-bottom: 4px;

                    &>div
                    {
                        margin-right: 4px;

                        &:first-letter
                        {
                            text-transform: uppercase;
                            line-height: 0em;
                        }
                    }
                }
            }

            relations-node-header,
            .relations-node-header
            {
                background-color: var(--dynamic-relations-canvas-relations-node-header-background);
                color: var(--dynamic-relations-canvas-relations-node-header-foreground);
                border-radius: 1rem 1rem 0 0;
                display: flex;
                flex-direction: row;

                .header-content
                {
                    flex: 1;
                    min-width: 0;
                    min-height: 0;

                    &:first-letter
                    {
                        text-transform: uppercase;
                        line-height: 0em;
                    }
                }

                .edit-icon,
                .destroy-icon
                {
                    color: var(--dynamic-relations-canvas-relations-node-header-icon-foreground);

                    &:hover
                    {
                        color: var(--dynamic-relations-canvas-relations-node-header-icon-foreground-hover);
                    }

                    &:active
                    {
                        color: var(--dynamic-relations-canvas-relations-node-header-icon-foreground-active);
                    }
                }

                .edit-icon
                {
                    margin-left: 10px;
                    margin-right: 4px;
                }

                .destroy-icon
                {
                    margin-left: 4px;
                    margin-right: 4px;
                }
            }

            .node-content
            {
                background-color: var(--dynamic-relations-canvas-relations-node-content-background);
                border-radius: 0 0 1rem 1rem;
                display: flex;
                flex-direction: column;
            }

            .inputs-outputs
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .transfer-endpoint
                {
                    relation-node-input,
                    relation-node-output
                    {
                        animation: 1s linear infinite alternate flash-endpoint;
                    }
                }
            }

            .debugger-node-overlay
            {
                position: absolute;
                top: 36px;
                left: 0;
                width: 100%;
                height: calc(100% - 36px);
            }
        }
    }

    .relations-debugger-node-detail
    {
        padding: 8px;
        max-width: 50vw;
        max-height: 50vh;
        overflow-y: scroll;

        .inputs-outputs-grid
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            column-gap: 8px;
            row-gap: 4px;

            &>div
            {
                min-width: 0;
            }
        }

        .formatted-json
        {
            white-space: pre-wrap;
        }
    }

    //TODO: remove important

    tooltip-popup.relations-debugger-tooltip
    {
        background-color: var(--dynamic-relations-debugger-tooltip-background) !important;
        box-shadow: 0 2px 4px -1px var(--dynamic-relations-debugger-tooltip-shadow1),0 4px 5px var(--dynamic-relations-debugger-tooltip-shadow2),0 1px 10px var(--dynamic-relations-debugger-tooltip-shadow3) !important;
        color: var(--dynamic-relations-debugger-tooltip-foreground) !important;
    }

    @keyframes flash-registered-step
    {
        from
        {
            -webkit-box-shadow: 0px 5px 5px -3px var(--dynamic-relations-canvas-relations-node-shadow1),0px 8px 10px 1px var(--dynamic-relations-canvas-relations-node-shadow2),0px 3px 14px 2px var(--dynamic-relations-canvas-relations-node-shadow3);
            -moz-box-shadow: 0px 5px 5px -3px var(--dynamic-relations-canvas-relations-node-shadow1),0px 8px 10px 1px var(--dynamic-relations-canvas-relations-node-shadow2),0px 3px 14px 2px var(--dynamic-relations-canvas-relations-node-shadow3);
            box-shadow: 0px 5px 5px -3px var(--dynamic-relations-canvas-relations-node-shadow1),0px 8px 10px 1px var(--dynamic-relations-canvas-relations-node-shadow2),0px 3px 14px 2px var(--dynamic-relations-canvas-relations-node-shadow3);
        }
        to
        {
            -webkit-box-shadow: 0px 5px 5px -3px var(--dynamic-relations-canvas-relations-node-registration-step-shadow1),0px 8px 10px 1px var(--dynamic-relations-canvas-relations-node-registration-step-shadow2),0px 3px 14px 2px var(--dynamic-relations-canvas-relations-node-registration-step-shadow3);
            -moz-box-shadow: 0px 5px 5px -3px var(--dynamic-relations-canvas-relations-node-registration-step-shadow1),0px 8px 10px 1px var(--dynamic-relations-canvas-relations-node-registration-step-shadow2),0px 3px 14px 2px var(--dynamic-relations-canvas-relations-node-registration-step-shadow3);
            box-shadow: 0px 5px 5px -3px var(--dynamic-relations-canvas-relations-node-registration-step-shadow1),0px 8px 10px 1px var(--dynamic-relations-canvas-relations-node-registration-step-shadow2),0px 3px 14px 2px var(--dynamic-relations-canvas-relations-node-registration-step-shadow3);
        }
    }

    @keyframes flash-endpoint
    {
        from
        {
            border-color: var(--dynamic-relations-debugger-visualizer-foreground);
        }
        to
        {
            border-color: var(--dynamic-relations-canvas-relations-node-data-transfer-step-border);
        }
    }
}