<relations-node-header [parent]="this" [destroySubject]="destroySubject" name="deconstruct"></relations-node-header>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs">
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="object" [parent]="this"></relation-node-input>
                <div>object</div>
            </div>
        </div>

        <div class="outputs">
            <div class="output" *ngFor="let property of properties">
                <div class="dynamic-flex-row">
                    <div>{{property.name}}</div>

                    <button type="button" class="dynamic-btn-icon dynamic-margin-horizontal-extra-small" (click)="$event.preventDefault(); $event.stopPropagation(); configureEndpoint(property)">
                        <span class="fas fa-pen"></span>
                    </button>

                    <button type="button" class="dynamic-btn-icon" (click)="$event.preventDefault(); $event.stopPropagation(); removeProperty(property.name)">
                        <span class="fas fa-times"></span>
                    </button>
                </div>

                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" [name]="property.name" [parent]="this"></relation-node-output>
            </div>

            <div class="dynamic-flex-row dynamic-flex-end">
                <button type="button" class="dynamic-btn-icon dynamic-margin-left-extra-small" (click)="$event.preventDefault(); $event.stopPropagation(); addProperty()">
                    <span class="fas fa-plus"></span>
                </button>
            </div>
        </div>
    </div>
</div>