<ng-container *layoutComponentRenderer="options?.dataLoader?.options?.plugin; callback: dataLoaderCallback"/>
<ng-container *layoutComponentRenderer="options?.paging?.options?.plugin; callback: pagingCallback"/>

<div #grid ngGrid [gridOptions]="gridOptions">
    @for(col of colsDef; track col)
    {
        <ng-container [matrixGridColumn]="col.id" [width]="col.width">
            <div *headerCellTemplate>
                <ng-container *layoutComponentRenderer="col.header"/>
            </div>
            
            <div *contentCellTemplate>
                <ng-container *layoutComponentRenderer="col.content"/>
            </div>
        </ng-container>
    }
</div>