<relations-node-header [parent]="this" [destroySubject]="destroySubject" name="component inputs"></relations-node-header>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs">
        </div>

        <div class="outputs">
            <div class="output">
                <div>negated condition</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="negatedCondition" [parent]="this"></relation-node-output>
            </div>
        </div>
    </div>
</div>