<div [formGroup]="form">
    <div class="dynamic-form-group dynamic-margin-bottom-extra-small">
        <label class="dynamic-control-label dynamic-text-uppercase">type</label>

        <select class="dynamic-form-control" formControlName="type">
            <option value="BODY" *ngIf="!data.hasBody">BODY</option>
            <option value="PATH">PATH</option>
            <option value="QUERY">QUERY</option>
            <option value="QUERY">QUERY</option>
            <option value="QUERY OBJECT">QUERY OBJECT</option>
            <option value="HEADER">HEADER</option>
        </select>
    </div>

    <div class="dynamic-form-group dynamic-margin-bottom-extra-small">
        <label class="dynamic-control-label dynamic-text-uppercase">name</label>
        <input type="text" class="dynamic-form-control" formControlName="name">
    </div>

    <div class="dynamic-flex-column dynamic-margin-bottom-extra-small">
        <button type="button" class="dynamic-btn dynamic-btn-primary dynamic-align-self-center" (click)="showCodeEditor()">
            <span>value</span>
        </button>
    </div>

    <div class="dynamic-form-group dynamic-margin-bottom-extra-small">
        <label class="dynamic-control-label dynamic-text-uppercase">configurable</label>
        <input type="checkbox" class="dynamic-form-control" formControlName="configurable">
    </div>
</div>

<div class="dynamic-flex-row dynamic-flex-end">
    <button type="button" class="dynamic-btn dynamic-btn-info dynamic-margin-right-extra-small" [mat-dialog-close]="null">
        <span>cancel</span>
    </button>

    <button type="button" class="dynamic-btn dynamic-btn-primary" [mat-dialog-close]="true">
        <span>ok</span>
    </button>
</div>