<div class="dynamic-flex-row dynamic-margin-top-big dynamic-flex-1">
    <mat-tab-group>
        <mat-tab label="Hierarchy">
            <components-tree></components-tree>
        </mat-tab>

        <mat-tab label="Palette">
            <package-manager></package-manager>
            <components-palette></components-palette>
        </mat-tab>
    </mat-tab-group>

    <div class="dynamic-flex-1 layout-content dynamic-thin-scrollbar">
        <ng-container [layoutComponentRenderer]="metadata"></ng-container>
    </div>

    <properties-editor></properties-editor>
</div>

<dnd-core-drag-preview>
    <layout-editor-drag-preview class="mat-elevation-z4" *dndCorePreviewTemplate="let data" [layoutMetadata]="data.dragData.metadata"></layout-editor-drag-preview>
</dnd-core-drag-preview>