<div class="flex-row margin-top-big flex-1">
    <mat-tab-group>
        <mat-tab label="Hierarchy">
            <components-tree></components-tree>
        </mat-tab>

        <mat-tab label="Palette">
            <package-manager></package-manager>
            <components-palette></components-palette>
        </mat-tab>
    </mat-tab-group>
      
    <div class="flex-1 layout-content thin-scrollbar">
        <ng-container [layoutComponentRenderer]="metadata"></ng-container>
    </div>

    <properties-editor></properties-editor>
</div>