<relations-node-header>data template</relations-node-header>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs">
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="template" [parent]="this"></relation-node-input>
                <div>template</div>
            </div>
            
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="data" [parent]="this"></relation-node-input>
                <div>data</div>
            </div>
        </div>

        <div class="outputs">
            <div class="output">
                <div>output</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="output" [parent]="this"></relation-node-output>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="showCodeEditor()">
        <span>template</span>
    </button>
</div>
