<div class="node-header">
    <div class="flex-1">{{metadata?.id}}</div>
    <div (click)="destroySubject.next()">x</div>
</div>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs margin-right-small">
            <div class="flex-row margin-bottom-extra-small">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="template" [parent]="this"></relation-node-input>
                <div class="margin-left-extra-small">template</div>
            </div>
            
            <div class="flex-row margin-bottom-extra-small">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="data" [parent]="this"></relation-node-input>
                <div class="margin-left-extra-small">data</div>
            </div>
        </div>

        <div class="outputs margin-left-small">
            <div class="flex-row">
                <div class="margin-right-extra-small">output</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="output" [parent]="this"></relation-node-output>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="showCodeEditor()">
        <span>template</span>
    </button>
</div>
