<div class="flex-row">
    <a class="margin-horizontal-small" [routerLink]="['/relationsComplexNew/layout', available.value]">layout</a>
    <a class="margin-horizontal-small" [routerLink]="['/relationsComplexNew/relations', available.value]">relations</a>
    <a class="margin-horizontal-small" href="#" showRelationsDebugger [relationsDefinition]="relations">debug</a>

    <ng-select [formControl]="available" class="flex-1">
        @for(val of availableNames; track val)
        {
            <ng-option [value]="val" [text]="val"></ng-option>
        }
    </ng-select>

    <debug-data [copyClick]="selectedMetadata"><div class="margin-horizontal-small">{{available.value}}</div></debug-data>
</div>

<div class="flex-row margin-top-big flex-1">
    <static-input class="margin-right-extra-small"></static-input>

    <div class="flex-1 overflow-vertical-scroll thin-scrollbar" style="border: 1px dotted #666;">
        <ng-container [layoutComponentRenderer2]="metadata"></ng-container>
    </div>

    <static-output style="width: 200px;"></static-output>
</div>