<div class="dynamic-flex-column">
    @for(groupKeyValue of groupedItems | keyvalue; track groupKeyValue)
    {
        <div class="dynamic-text-spread dynamic-text-small-caps dynamic-margin-left-extra-small dynamic-margin-horizontal-small dynamic-bold">{{groupKeyValue.key | firstUppercaseLocalize}}&nbsp;</div>

        @for(item of groupKeyValue.value; track item)
        {
            <div cdkDropList
                 cdkDropListSortingDisabled
                 [cdkDropListConnectedTo]="canvasDropList"
                 class="palette-droplist">
                <nodes-palette-item [data]="item"
                                    class="editor-component mat-elevation-z2"
                                    cdkDrag
                                    [cdkDragData]="item | toRelationsDragData: newCompnentId: item.metadata.singleton: item.metadata.scope"
                                    (cdkDragDropped)="generateNewId()"></nodes-palette-item>

            </div>
        }
    }
</div>