<div class="flex-column">
    <ng-container *ngFor="let groupKeyValue of groupedItems | keyvalue">
        <div class="text-spread text-small-caps margin-left-extra-small margin-horizontal-small bold">{{groupKeyValue.key}}&nbsp;</div>

        <div *ngFor="let item of groupKeyValue.value | flagUsedNodes : registeredNodes"
             cdkDropList
             cdkDropListSortingDisabled
             [cdkDropListConnectedTo]="canvasDropList"
             class="palette-droplist">
            <div class="editor-component mat-elevation-z2"
                 [class.used]="item.metadata.singleton && item.metadata.used"
                 cdkDrag
                 [cdkDragDisabled]="item.metadata.singleton && item.metadata.used"
                 [cdkDragData]="item | toRelationsDragData: (item.metadata.singleton ? item.itemSource.name : newCompnentId): item.metadata.singleton"
                 (cdkDragDropped)="generateNewId()"
                 (dblclick)="focusNode(item)">
                 <!-- (cdkDragEnded)="_onDragEnded(groupKeyValue.key)"
                 (cdkDragStarted)="_onDragStarted($event, groupKeyValue.key, item)"> -->
                <!-- <layout-editor-drag-placeholder class="mat-elevation-z6" *cdkDragPlaceholder></layout-editor-drag-placeholder>
                <layout-editor-drag-preview class="mat-elevation-z4" *cdkDragPreview [editorMetadata]="item.metadata" [layoutMetadata]="(item | toLayoutDragData: _newCompnentId).metadata"></layout-editor-drag-preview> -->
                <div class="editor-component-name">{{item.metadata.singleton ? (item.metadata.displayName || item.itemSource.name) : (item.metadata.metaInfo?.name ?? item.itemSource.name)}}</div>
                <div class="editor-component-description" *ngIf="item.metadata.metaInfo?.description">{{item.metadata.metaInfo?.description}}</div>
            </div>
        </div>
    </ng-container>
</div>