<div class="dynamic-flex-column">
    <ng-container *ngFor="let groupKeyValue of groupedItems | keyvalue">
        <div class="dynamic-text-spread dynamic-text-small-caps margin-left-extra-small margin-horizontal-small dynamic-bold">{{groupKeyValue.key}}&nbsp;</div>

        <div *ngFor="let item of groupKeyValue.value"
             cdkDropList
             cdkDropListSortingDisabled
             [cdkDropListConnectedTo]="canvasDropList"
             class="palette-droplist">
            <nodes-palette-item [data]="item"
                                class="editor-component mat-elevation-z2"
                                cdkDrag
                                [cdkDragData]="item | toRelationsDragData: newCompnentId: item.metadata.singleton: item.metadata.scope"
                                (cdkDragDropped)="generateNewId()"></nodes-palette-item>
        </div>
    </ng-container>
</div>