<div class="flex-row">
    <a routerLink="/layout/preview" routerLinkActive="active" class="margin-horizontal-small">Preview</a>
    <a routerLink="/layout/editor" routerLinkActive="active" class="margin-horizontal-small">Editor</a>
    <a routerLink="/relationsEditor" routerLinkActive="active" class="margin-horizontal-small">Relations editor</a>
    <a routerLink="/relationsStatic" routerLinkActive="active" class="margin-horizontal-small">Relations</a>
    <a routerLink="/relationsWithEditor" routerLinkActive="active" class="margin-horizontal-small">Relations with editor</a>
    <a routerLink="/relationsWithLayoutEditor/preview" routerLinkActive="active" class="margin-horizontal-small">Relations with layout editor</a>
    <a routerLink="/relationsComplex/preview" routerLinkActive="active" class="margin-horizontal-small">Relations complex</a>
    <a routerLink="/relationsComplexNew/preview" routerLinkActive="active" class="margin-horizontal-small">Relations complex new</a>
    <a routerLink="/relationsLayoutForm/form-preview" routerLinkActive="active" class="margin-horizontal-small">Relations form</a>
    <div class="flex-1"></div>
    <a (click)="openSettings()" class="fas fa-cog"></a>
</div>