<div class="flex-row">
    <a routerLink="/layout/preview" routerLinkActive="active" class="margin-horizontal-small">Layout Runtime</a>
    <a routerLink="/layout/editor" routerLinkActive="active" class="margin-horizontal-small">Layout Editor</a>
    <a routerLink="/relationsEditor" routerLinkActive="active" class="margin-horizontal-small">Relations editor</a>
    <a routerLink="/relationsStatic" routerLinkActive="active" class="margin-horizontal-small">Relations Runtime</a>
    <a routerLink="/layoutRelationsEditor/preview" routerLinkActive="active" class="margin-horizontal-small">Layout relations editor</a>
    <a routerLink="/layoutRelationsAllFeatures/preview" routerLinkActive="active" class="margin-horizontal-small">Layout relations all features</a>
    <a routerLink="/relationsLayoutForm/form-preview" routerLinkActive="active" class="margin-horizontal-small">Relations form</a>
    <div class="flex-1"></div>
    <a (click)="openSettings()" class="fas fa-cog"></a>
</div>