<div class="flex-row">
    <a routerLink="/" routerLinkActive="active" class="margin-right-extra-small">Preview</a>
    <a routerLink="/editor" routerLinkActive="active" class="margin-right-extra-small">Editor</a>
    <a routerLink="/relations-editor" routerLinkActive="active" class="margin-right-extra-small">Relations editor</a>
    <a routerLink="/relations" routerLinkActive="active" class="margin-right-extra-small">Relations</a>
    <div class="flex-1"></div>
    <a (click)="openSettings()" class="fas fa-cog"></a>
</div>