<relations-node-header [parent]="this" [destroySubject]="destroySubject"></relations-node-header>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs">
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="booleanInput" [parent]="this"></relation-node-input>
                <div>bool</div>
            </div>
    
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="stringInput" [parent]="this"></relation-node-input>
                <div>string</div>
            </div>
        </div>
    
        <div class="outputs">
        </div>
    </div>
</div>