<div class="flex-row">
    <load-save-new [store]="store" [getMetadataCallback]="getMetadata" routePath="/relationsEditor" isRelations (metadataChange)="metadata = ($any($event) ?? emptyMetadata)" [history]="history"></load-save-new>

    <button class="btn btn-primary" type="button" (click)="loadDemo()">
        <span>demo</span>
    </button>

    <debug-data [copyClick]="metadata">metadata</debug-data>
</div>

<div class="flex-1 flex-row">
    <relations-editor class="flex-1" [metadata]="metadata"></relations-editor>

    <div style="width: 300px;" class="flex-column">
        <div>Relations metadata</div>

        <div>
            <button type="button" class="btn btn-primary" (click)="showMetadata()">
                <span>show metadata</span>
            </button>
        </div>

        <div style="white-space: pre; overflow: scroll;" class="thin-scrollbar flex-1">{{stringMetadata}}</div>
    </div>
</div>