<ng-container *ngFor="let cmp of usedComponents | keyvalue">
    <div class="dynamic-margin-top-small dynamic-bold dynamic-text-uppercase dynamic-margin-left-extra-small">{{customComponentContentMetadata[cmp.key]?.metadata?.displayName}}</div>

    <ng-container *ngFor="let modelName of cmp.value">
        <ng-container *ngFor="let ctrl of modelName | getControls: customComponentContentMetadata[cmp.key]">
            <ng-container [propertiesControl]="ctrl" [form]="usedComponentsForms[cmp.key][modelName]" [propertiesMetadata]="modelName | getModel: customComponentContentMetadata[cmp.key] | propertiesMetadata"></ng-container>
        </ng-container>
    </ng-container>
</ng-container>