@for(cmp of usedProperties | keyvalue; track cmp)
{
    <div class="dynamic-margin-top-small dynamic-bold dynamic-text-uppercase dynamic-margin-left-extra-small">{{customComponentContentMetadata[cmp.key]?.metadata?.displayName}}</div>

    @for(modelName of cmp.value | keyvalue; track modelName)
    {
        @for(ctrl of modelName.key | getControls: customComponentContentMetadata[cmp.key]; track ctrl)
        {
            <ng-container [propertiesControl]="ctrl" [form]="usedComponentsForms[cmp.key][modelName.key]" [propertiesMetadata]="modelName.key | getModel: customComponentContentMetadata[cmp.key] | propertiesMetadata"/>
        }
    }

    <div class="component-separator"></div>
}