<div class="dynamic-margin-bottom-small dynamic-flex-row">
    <div class="dynamic-flex-1 dynamic-margin-right-small">
        <label class="dynamic-control-label">{{'available content components'|firstUppercaseLocalize}}</label>

        <select class="dynamic-form-control" [formControl]="component">
            <option *ngFor="let component of contentComponents" [value]="component">{{data.customComponentContentMetadata[component]?.metadata?.displayName}}</option>
        </select>
    </div>

    <a class="dynamic-btn-icon dynamic-margin-left-small dynamic-large-text" (click)="addComponent()">
        <span class="fas fa-plus"></span>
    </a>
</div>

<div>
    <div *ngFor="let component of usedProperties | keyvalue" class="dynamic-margin-bottom-small">
        <div class="dynamic-bold dynamic-flex-row ">
            <span class="dynamic-margin-right-small">{{data.customComponentContentMetadata[component.key]?.metadata?.displayName}}</span>
            
            <a class="dynamic-btn-icon" (click)="removeComponent(component.key)">
                <span class="fas fa-times"></span>
            </a>
        </div>
        
        <ng-container *ngFor="let modelProps of availableProperties[component.key] | keyvalue">
            <div *ngFor="let prop of modelProps.value">
                <label>
                    <input type="checkbox" (change)="toggleSelected(component.key, modelProps.key, prop)" [checked]="usedProperties | propertySelected: component.key: modelProps.key: prop">
                    <span>{{(modelProps.key | getModel: data.customComponentContentMetadata[component.key] | propertiesMetadata: data.propsMetadataExtractor)?.[prop]?.name ?? prop}}</span>
                    <span class="fas fa-info-circle dynamic-margin-left-extra-small" *ngIf="(modelProps.key | getModel: data.customComponentContentMetadata[component.key] | propertiesMetadata: data.propsMetadataExtractor)?.[prop]?.description as description" [tooltip]="description" ></span>
                </label>
            </div>
        </ng-container>
    </div>
</div>

<div class="dynamic-flex-row dynamic-flex-end dynamic-action-buttons">
    <button type="button" class="dynamic-btn dynamic-btn-info dynamic-margin-right-extra-small" [mat-dialog-close]="undefined">
        <span>{{'cancel'|firstUppercaseLocalize}}</span>
    </button>

    <button type="button" class="dynamic-btn dynamic-btn-primary" [mat-dialog-close]="{configurableProperties: usedProperties, displayName: '', description: ''}">
        <span>{{'ok'|firstUppercaseLocalize}}</span>
    </button>
</div>