<div
    #dndCoreTree="dndCoreTreeItem"
    #dropzone
    [dndCoreTreeItem]="{metadata: data, parentId: parentId, index: index}"
    [dropzoneElement]="dropzone"
    [containerElement]="childrenContainer"
    [dragDisabled]="dragDisabled"
    [dragSource]="dndCoreTree.drag"
    [noHTML5Preview]="true"
    (dropMetadata)="addDescendant($event)">

    <div 
        class="designer-dropzone" 
        [dropTarget]="dndCoreTree.dropzone">
        <div class="flex dynamic-align-items-center" [ngClass]="hasChildren ? 'nested-node-tree' : 'node-tree'">
            <button type="button" mat-icon-button [disabled]="!hasChildren" (click)="toggle()"
                [attr.aria-label]="'Toggle'">
                <span class="fa" *ngIf="hasChildren" [ngClass]="open ? 'fa-chevron-down' : 'fa-chevron-right'"></span>
            </button>
            <div 
                [class.selected]="data?.id === _manager.selectedComponent"
                [class.highlighted]="data?.id === _manager.highlightedComponent"
                (mouseover)="highlight($event, data?.id)"
                (click)="_manager.selectComponent(data?.id)">{{data?.displayName || data?.id}}</div>
        </div>
    
        <div 
            #childrenContainer
            class="node-children"
            [class.hidden]="!open">
            <div 
                *ngFor="let child of children; let i = index;"
                class="node-child">
                <components-tree-item 
                    [data]="child"
                    [parentId]="data?.id"
                    [index]="i"></components-tree-item>
            </div>
        </div>
    </div>    
</div>
