<div class="flex-row">
    <a class="margin-horizontal-small" [routerLink]="['/relationsLayoutForm/layout', _available.value]">layout</a>
    <a class="margin-horizontal-small" [routerLink]="['/relationsLayoutForm/relations', _available.value]">relations</a>

    <ng-select [formControl]="_available" class="flex-1">
        <ng-option *ngFor="let val of _availableNames" [value]="val" [text]="val"></ng-option>
    </ng-select>

    <debug-data [copyClick]="selectedMetadata"><div class="margin-horizontal-small">{{_available.value}}</div></debug-data>
</div>

<form [formGroup]="_formGroup" (ngSubmit)="_submit()" *ngIf="_formGroup">
    <div class="flex-row margin-top-big flex-1">
        <div class="flex-1 overflow-vertical-scroll thin-scrollbar">
            <ng-container [layoutComponentRenderer]="_metadata" [layoutComponentRendererInjector]="_formInjector"></ng-container>
        </div>
    </div>
    
    <button type="submit">Submit</button>
</form>
