<code-editor #editor style="height: calc(70vh - 46px); width: calc(75vw - 20px);" [content]="data.content" [languageModel]="data.languageModel" (save)="editorContent = $event"></code-editor>

<div class="dynamic-flex-row dynamic-flex-end dynamic-action-buttons">
    <button type="button" class="dynamic-btn dynamic-btn-info dynamic-margin-right-extra-small" type="button" [mat-dialog-close]="null">
        <span>{{'cancel'|firstUppercaseLocalize}}</span>
    </button>

    <button type="button" class="dynamic-btn dynamic-btn-primary" type="button" (click)="saveAndClose(editor)">
        <span>{{'ok'|firstUppercaseLocalize}}</span>
    </button>
</div>