<div class="flex-row margin-top-big">
    <div class="flex-1">
        <ng-container [layoutComponentRenderer]="metadata"></ng-container>
    </div>
</div>

<div>
    <ng-template #components let-item let-margin="margin">
        <div [style.marginLeft.px]="margin">{{item.component.options.typeMetadata.id}}</div>

        <ng-container *ngFor="let child of item.children">
            <ng-container *ngTemplateOutlet="components; context: {$implicit: child, margin: margin + 10}"></ng-container>
        </ng-container>
    </ng-template>

    <ng-container *ngIf="root">
        <ng-container *ngTemplateOutlet="components; context: {$implicit: root, margin: 0}"></ng-container>
    </ng-container>
</div>

<button (click)="getMetadata()">get metadata</button>