<div class="flex-row margin-top-big">
    <mat-tab-group>
        <mat-tab label="Hierarchy">
            <components-tree></components-tree>
        </mat-tab>

        <mat-tab label="Palette">
            <components-palette></components-palette>
        </mat-tab>
    </mat-tab-group>
      
    <div class="flex-1">
        <ng-container [layoutComponentRenderer]="metadata"></ng-container>
    </div>

    <properties-editor></properties-editor>
</div>

<button (click)="getMetadata()">get metadata</button>
<ng-container *ngComponentOutletEx="test"></ng-container>
<default-generic-properties-control></default-generic-properties-control>