<relations-node-header [parent]="this" [destroySubject]="destroySubject"></relations-node-header>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs">
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="data" [parent]="this"></relation-node-input>
                <div>data</div>
            </div>
        </div>
    
        <div class="outputs">
            <div class="output">
                <div>datum</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="datum" [parent]="this"></relation-node-output>
            </div>

            <div class="output">
                <div>index</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="index" [parent]="this"></relation-node-output>
            </div>

            <div class="output">
                <div>first</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="first" [parent]="this"></relation-node-output>
            </div>

            <div class="output">
                <div>last</div>
                <relation-node-output [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="last" [parent]="this"></relation-node-output>
            </div>
        </div>
    </div>
</div>