<relations-node-header [parent]="this" [destroySubject]="destroySubject"></relations-node-header>

<div class="node-content">
    <div class="inputs-outputs">
        <div class="inputs">
            <div class="input">
                <relation-node-input [parentCoordiantes]="nodePosition" [zoomLevel]="zoomLevel" name="content" [parent]="this"></relation-node-input>
                <div>{{'content'|firstUppercaseLocalize}}</div>
            </div>
        </div>

        <div class="outputs">
        </div>
    </div>
</div>